<div class="direct-settings-section">
  <div class="mb-3">
    <p-inputgroup>
      <p-floatlabel variant="on">
        <input
          id="chat_direct_settings_recipient_input"
          pInputText
          type="text"
          autocomplete="off"
          [formControl]="recipientInputControl"
          [ariaLabel]="'CHAT.SETTINGS.INPUT.SEARCH_PARTICIPANT' | translate"
          [pTooltip]="'CHAT.SETTINGS.INPUT.SEARCH_PARTICIPANT' | translate"
          tooltipPosition="top"
        />
        <label for="chat_direct_settings_recipient_input" class="ocx-required-label">{{
          'CHAT.SETTINGS.INPUT.PARTICIPANT' | translate
        }}</label>
      </p-floatlabel>
      <p-inputgroup-addon>
        <p-button
          icon="pi pi-search"
          size="large"
          [disabled]="recipientInputControl.invalid"
          (onClick)="onSearch()"
          (onKeydown)="onSearch()"
        />
      </p-inputgroup-addon>
    </p-inputgroup>
    @if (recipientInputControl.invalid && recipientInputControl.touched) {
      <div class="p-error mt-2">{{ 'CHAT.SETTINGS.VALIDATION.RECIPIENTS_2_100' | translate }}</div>
    }
  </div>
</div>
