<div class="direct-settings-section">
  <div class="mb-3">
    <p-inputGroup>
      <p-floatlabel>
        <input 
          id="recipientInput"
          pInputText
          type="text"
          autocomplete="off"
          [formControl]="recipientInputControl"
        />
        <label for="recipientInput">{{ 'CHAT.SETTINGS.INPUT.PARTICIPANT' | translate }}</label>
      </p-floatlabel>
      <p-inputGroupAddon 
        class="cursor-pointer" 
        (click)="onSearch()"
        (keydown.enter)="onSearch()"
        (keydown.space)="onSearch()">
        <i class="pi pi-search"></i>
      </p-inputGroupAddon>
    </p-inputGroup>
  </div>
</div>