<div class="direct-settings-section">
  <div class="mb-3">
    <p-inputGroup>
      <p-floatlabel>
        <input 
          id="chat_direct_settings_recipient_input"
          pInputText
          type="text"
          autocomplete="off"
          [formControl]="recipientInputControl"
          [attr.aria-label]="'CHAT.SETTINGS.INPUT.PARTICIPANT' | translate"
          [pTooltip]="'CHAT.SETTINGS.INPUT.PARTICIPANT' | translate"
          tooltipPosition="top"
        />
        <label for="chat_direct_settings_recipient_input">{{ 'CHAT.SETTINGS.INPUT.PARTICIPANT' | translate }}</label>
      </p-floatlabel>
      <p-inputGroupAddon 
        class="cursor-pointer"
        role="button"
        tabindex="0"
        [attr.aria-label]="'CHAT.SETTINGS.ACTIONS.SEARCH_PARTICIPANT' | translate"
        [pTooltip]="'CHAT.SETTINGS.ACTIONS.SEARCH_PARTICIPANT' | translate"
        tooltipPosition="top"
        (click)="onSearch()"
        (keydown.enter)="onSearch()"
        (keydown.space)="onSearch()">
        <i class="pi pi-search"></i>
      </p-inputGroupAddon>
    </p-inputGroup>
    @if (recipientInputControl.invalid && recipientInputControl.touched) {
      <small class="p-error block text-left mt-2">{{ 'CHAT.SETTINGS.VALIDATION.PARTICIPANT_REQUIRED' | translate }}</small>
    }
  </div>
</div>