<div class="border-bottom-1 border-200 flex flex-row align-items-center mb-2 relative">
  <p-button 
    *ngIf="showBack"
    size="small" 
    icon="pi pi-angle-left" 
    id="back-button"  
    severity="contrast"
    (click)="backClicked.emit()"
    (keydown.enter)="backClicked.emit()"
    [text]="true"
    aria-label="Back"
  />

  <div class="absolute left-0 right-0 top-0 bottom-0 flex align-items-center justify-content-center pointer-events-none">
    <span class="chat-title text-lg line-height-3">{{ title }}</span>
  </div>

  <div class="ml-auto flex align-items-center">
    <p-button
      *ngIf="showSettings"
      size="small"
      icon="pi pi-cog"
      id="settings-button"
      severity="contrast"
      (click)="settingsClicked.emit()"
      (keydown.enter)="settingsClicked.emit()"
      [text]="true"
      aria-label="Settings"
    />
    <p-button
      *ngIf="showClose"
      size="small"
      icon="pi pi-times"
      id="close-button"
      severity="contrast"
      (click)="closed.emit()"
      (keydown.enter)="closed.emit()"
      [text]="true"
      aria-label="Close"
    />
  </div>
</div>