:host ::ng-deep .onecx-chat-sidebar {
  width: 20%;
  .p-drawer-content {
    padding: 0 !important;
    background: #fdfeff !important;
  }
  .p-drawer-header[data-pc-section="header"] {
    display: none !important;
  }

  @media (max-width: 1440px) {
    width: 25%;
  }
  @media (max-width: 1024px) {
    width: 30%;
  }
  @media(max-width: 768px) {
    width: 50%;
  }
  @media (max-width: 480px) {
    width: 70%;
  }
  @media (max-width: 360px) {
    width: 100%;
  }
}
