:host {
  display: block;
  height: 100%;
}

.chat-panel {
  position: relative;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;

  &.chat-panel-open {
    width: 20rem;
  }
}

.chat-panel-content {
  width: 20rem;
  height: 100%;
  visibility: hidden;
  transition: visibility 0.3s;

  .chat-panel-open & {
    visibility: visible;
  }
}

.chat-interface {
  height: 100%;
  display: flex;
  flex-direction: column;
}
