<app-chat-slider
  [(visible)]="_sidebarVisible"
  [modal]="false"
  [position]="'right'"
  [styleClass]="'onecx-chat-sidebar p-0 w-full md:w-30rem lg:w-50rem'"
>
  @let vm = viewModel$ | async;
  @if (vm) {
    <div class="onecx-companion-container h-full flex flex-column">
      @if (!vm.selectedChatMode && !vm.currentChat) {
        <app-chat-list-screen
          class="flex-1 min-h-0"
          (selectMode)="selectChatMode($event)"
          (chatSelected)="chatSelected($event)"
          (deleteChat)="deleteChat($event)"
          [chats]="vm.chats ?? []"
        ></app-chat-list-screen>
      } @else {
        <div class="chat-interface flex-1 flex flex-column min-h-0" [@slideIn]>
          <app-chat-header
            [title]="vm.chatTitleKey | translate"
            [showBack]="true"
            [showClose]="false"
            (backClicked)="goBack()"
          ></app-chat-header>
          @if (vm.currentChat?.id) {
            <app-chat
              class="flex-1 min-h-0"
              [chatMessages]="vm.currentMessages ?? []"
              (sendMessage)="sendMessage($event)"
              (retrySendMessage)="sendMessage($event)"
            ></app-chat>
          }
        </div>
      }
    </div>
  }
</app-chat-slider>
<div class="layout-topbar-item">
  <p-button
    icon="pi pi-comments"
    [rounded]="true"
    [text]="true"
    [styleClass]="'chat-button border-none p-4'"
    [attr.aria-label]="'CHAT.TITLE_AI' | translate"
    [pTooltip]="'CHAT.TITLE_AI' | translate"
    tooltipPosition="top"
    tooltipEvent="hover"
    (click)="sidebarVisible = true"
    (keydown.enter)="sidebarVisible = true"
    />
</div>