<div class="p-1 w-full flex align-items-center">
  <p-select
    [options]="chats"
    [(ngModel)]="selectedChat"
    optionLabel="topic"
    [filter]="true"
    filterBy="topic"
    [placeholder]="'CHAT.SELECT_CHAT' | translate"
    [loading]="loading"
    class="w-full"
    [style]="{ width: '100%' }"
    dataKey="id"
    (onChange)="onChange($event)"
  >
    <ng-template pTemplate="selectedItem" let-selectedOption>
      <div class="flex align-items-center gap-2">
        <div *ngIf="selectedOption.id !== 'new'">
          {{ selectedOption.topic ?? selectedOption.id }}
        </div>
        <div *ngIf="selectedOption.id === 'new'">
          <i>{{ selectedOption.topic | translate }}</i>
        </div>
      </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
      <div class="flex align-items-center gap-2">
        <div *ngIf="item.id !== 'new'">{{ item.topic ?? item.id }}</div>
        <div *ngIf="item.id === 'new'">
          <i>{{ item.topic | translate }}</i>
        </div>
      </div>
    </ng-template>
  </p-select>
  <div class="flex justify-content-center pl-1">
    <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />
    <p-button (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
  </div>
</div>
