<p-button
  [icon]="voiceChatEnabled() ? '' : 'pi pi-microphone'"
  [rounded]="!voiceChatEnabled()"
  [pTooltip]="
    voiceChatEnabled()
      ? ('VOICE.STOP_RECORDING_TOOLTIP' | translate)
      : ('VOICE.START_RECORDING_TOOLTIP' | translate)
  "
  [loading]="isConnecting"
  (click)="onClick()"
  styleClass="voice-record-button"
>
  @if (voiceChatEnabled()) {
    <span class="mr-2">
      {{ 'VOICE.STOP_RECORDING' | translate }}
    </span>
    <app-voice-waveform
      [stream]="micStream"
      [active]="voiceChatEnabled()"
    ></app-voice-waveform>
  }
</p-button>
