<div class="mb-3">
  <p-floatlabel variant="on">
    <input
      id="chat_shared_settings_chat_name_input"
      pInputText
      type="text"
      class="w-full"
      autocomplete="off"
      [formControl]="chatNameControl"
      [ariaLabel]="'CHAT.SETTINGS.INPUT.ADD_CHAT_NAME' | translate"
      [pTooltip]="'CHAT.SETTINGS.INPUT.ADD_CHAT_NAME' | translate"
      tooltipPosition="top"
    />
    <label for="chat_shared_settings_chat_name_input">{{ 'CHAT.SETTINGS.INPUT.CHAT_NAME' | translate }}</label>
  </p-floatlabel>

  @if ((chatNameControl.dirty || chatNameControl.touched) && chatNameControl.errors?.['maxlength']) {
    <div class="p-error mt-2 text-sm">{{ 'CHAT.SETTINGS.VALIDATION.CHAT_NAME_100' | translate }}</div>
  }
</div>
