
:host ::ng-deep .p-tablist .p-tab {
  flex: 1;
  justify-content: center;
}

:host ::ng-deep .p-avatar {
  border-radius: 50% !important;
}

:host ::ng-deep .p-tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

:host ::ng-deep .p-tabs .p-tabpanels {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

:host ::ng-deep .p-tabpanel[data-p-active="true"] {
  display: flex !important;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

:host ::ng-deep .p-tablist {
  overflow-x: hidden !important;
}

:host ::ng-deep .p-inputgroup .p-selectbutton .p-button:first-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:host ::ng-deep .p-inputgroup > p-button .p-button {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:host ::ng-deep p-button {
  display: inline-flex;
  align-items: stretch;
}

:host ::ng-deep .p-inputgroup > p-button .p-button:focus {
  outline: none !important;
}

:host ::ng-deep .p-inputgroup {
  display: flex !important;
}

:host ::ng-deep .chat-list-inputgroup.p-inputgroup {
  width: auto !important;
}

:host ::ng-deep p {
  margin: 0 !important;
}

:host {
  color: var(--text-color, var(--p-text-color, inherit)) !important;
}

:host ::ng-deep .chat-list-inputgroup .p-selectbutton .p-togglebutton:first-child,
:host ::ng-deep .chat-list-inputgroup .p-selectbutton .p-button:first-child {
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
}
